
.nav{
background-color: black;
height: 50px;
overflow: auto;
}

li > a:link {
    text-decoration: none;
    color: white;

}
li {
    float: left;
    width: 20%;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    margin-top: 15px
}
a:hover{
    color: white;
}
a:visited {
    color: white;
}

.photo {
    margin-top: 20px;
}
.col-4 {
    width: 33.33%; 
}
[class*="col-"] {
    float: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}




@media only screen and (max-width: 768px) {
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-12 > img {
        width: 95%;
        height: auto;
        margin-bottom: 10px;
    }
    .li-xs {
        font-size: 75%;
    }
}
img {
    width: 50%;
}
@media only screen and (min-width: 768px) {
    .col-s-6 {
        width: 50%;
    }
    .col-s-6 > img {
        width: 95%;
        height: auto;
        margin-bottom: 10px;
    }
    .banner-s {
        height:200px;
        background-image:none;
        border-bottom: 1px solid grey;
    }
    .banner-content-s {
        position:absolute;
        padding-top: 50px;
        padding-left: 0;
    }
    .banner-content-s > h1 {
        color: black;
        font-size: 200%;
        padding-left: 10px;
    }
    
}

@media only screen and (min-width: 992px) {
    .col-4 {
        width: 33.33%; 
    }
    .col-4 > img {
        width: 95%;
        height: auto;
        margin-bottom: 10px;
    }
    .banner-background {
        background-image: url("img/cover.jpg");
        height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-content {
        position:absolute;
        padding-top: 120px;
        width: 100%;
    }
    .banner-content > h1 {
        color:white; 
        font-size: 300%; 
        margin-top: 35px;
        text-align: center;
    }

}
